body{
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/e2/3f/a6/e23fa65dcedeb00cc5f9ac4ca015699d.jpg");
    background-attachment:fixed;
}

.jumbotron{
    text-align: center;
    height: 550px;
    padding: 100px;
    background-image: url(starwars.png);
    background-position: center;
    background-size: cover; 
}

.panel{
    text-align:center;
    background-color: black;
    margin:-30px;
}

.col-md-6{
    border: 2px solid black;
    padding: 10px;
}

.row{
    padding: 10px 10px 10px 10px;
    text-align: inline;
}
.row p{
    padding: 10px;
}