body{
    background-image: url(verybackimage.jpg);
    background-attachment:fixed;
}

.jumbotron{
    background-image: url(jumbotronbackground.jpg);
    background-size:cover;
    color: rgba(0,0,0,.6); 
}

.aboutmesection{
    padding:30px 0px 20px 0px;
    border-bottom:4px rgba(255,255,255,.6) dotted;
    color: rgba(255,255,255,.60);
}

 .navbar{
    margin:-33px;
} 

.btn{
    background-image: url(jumbotronbackground.jpg);
    background-attachment:fixed;
    color: rgba(0,0,0,.6);
}

.projects{
    color: rgba(255,255,255,.6);
    border-bottom:4px rgba(255,255,255,.6) dotted;
    padding:30px 0px 20px 0px;
}

.connectwithme{
    color: rgba(255,255,255,.6);
}