.jumbotron{
    height: 300px;
    text-align: center; 
    background-image:url("https://image.freepik.com/free-vector/abstract-background-with-a-3d-pattern_1319-68.jpg");  
}

.navbar-default{
    margin-top: -30px;
    text-align: center;
}

body{
    background-image:url("https://image.freepik.com/free-psd/white-wood-texture-background-design_1022-75.jpg");
    background-size:cover;
    background-attachment:fixed;
}

.search{
    padding: 0px 0px 100px 0px;
}




.map{
    padding:5px 0px 0px 0px;
}

.username{
    text-align:center;
}

#userImage{
    padding:0px 0px 0px 230px;
}

.userData{
    text-align:center;
}

.signOut{
    position:relative;
    left:500px;
    color:gray;
}